<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899662647369-irkmq71jur3vccf1ch2qkkq1p19v7d93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899662647369-irkmq71jur3vccf1ch2qkkq1p19v7d93</string>
	<key>API_KEY</key>
	<string>AIzaSyCi7n4yvgNKjuhjSp66EG1qGQmmXH-vrFI</string>
	<key>GCM_SENDER_ID</key>
	<string>899662647369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-final-9caf1</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-final-9caf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899662647369:ios:9dea35f05b48917ff42f98</string>
</dict>
</plist>